* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
}

canvas {
  border: 1px solid red;
  background: #464646;
  display: block;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
